.header {
  padding: 10px 0;
  width: 100%;
  background-color: white;
  border-bottom: 0.1px solid lightgray;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header__content {
  width: 1160px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__icon {
  object-fit: contain;
  margin-right: 10px;
  cursor: pointer;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  height: 22px;
  color: gray;
  background-color: #eef3f8;
  border-radius: 5px;
}

.header__search > input {
  background: none;
  outline: none;
  border: none;
  font: inherit;
}

.header__right {
  display: flex;
}
