.app {
  display: flex;
  flex-direction: column;
  background-color: #f3f2f0;
  /* align-items: center; */
}

.app__body {
  display: flex;
  padding: 10px;
  /* width: 1200px;
  margin: 0 auto; */
}
